<form action="/recipes" method="post">
<h2>Recipe Name: <input type="text" name="name" value="name"></h2>
<h2>Recipe Ingredients: <input type="text" name="ingredients" value="ingredients"></h2>
<h2>Recipe Cook Time:<input type="text" name="cook_time" value="cook time"></h2>
<input type="submit" value="Submit">
</form>
